In [1]:
import pandas as pd
import numpy as np

In [9]:
dataset1 = "Datasets/dataframeAreasWithALLCoord.csv"
dataset2 = "Datasets/dataframeProjectWithALLCoord.csv"
dataset3 = "Datasets/transactions-2023-07-02.csv"

In [10]:
df1 = pd.read_csv(dataset1)
df2 = pd.read_csv(dataset2)
df3 = pd.read_csv(dataset3)

In [17]:
df1.head()

                      Area  Latitude_Area  Longitude_Area
0             BUSINESS BAY      25.189427       55.264819
1                  Al Wasl      25.195933       55.255737
2    JUMEIRAH LAKES TOWERS      25.072383       55.143743
3  JUMEIRAH VILLAGE CIRCLE      25.071164       55.210889
4      DUBAI CREEK HARBOUR      25.197978       55.360380

In [18]:
df2.head()

            Project  Latitude_Project  Longitude_Project
0      AYKON CITY 3          25.11072           55.38869
1              Fern          24.99426           55.16346
2    SEVEN CITY JLT          25.07052           55.14381
3  Binghatti Corner          25.11000           55.20418
4        CREEK EDGE          25.20809           55.31542

In [19]:
df3.head()

,Transaction Number,Transaction Date,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,Property Sub Type,...,Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Master Project,Project
0,102-1-2023,2023-01-02 07:25:49,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,...,105.75,2 B/R,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,NaN,AYKON CITY 3
1,102-10-2023,2023-01-02 08:06:49,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,...,52.29,Studio,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,NaN,AYKON CITY 3
2,102-100-2023,2023-01-02 09:01:22,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Al Wasl,Unit,Flat,...,161.32,2 B/R,1,NaN,NaN,NaN,1,1,NaN,Fern
3,102-1000-2023,2023-01-05 13:26:06,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH LAKES TOWERS,Unit,Flat,...,99.64,2 B/R,1,Damac Properties,Marina Mall,Burj Al Arab,1,1,NaN,SEVEN CITY JLT
4,102-10000-2023,2023-03-01 16:02:19,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH VILLAGE CIRCLE,Unit,Flat,...,63.95,1 B/R,1,Dubai Internet City,Marina Mall,Sports City Swimming Academy,1,1,NaN,Binghatti Corner

In [57]:
df = pd.merge(df3, df1, on='Area', how='left')
df= pd.merge(df3, df2, on='Project', how='left')

In [20]:
df.head()

,Transaction Number,Transaction Date,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,Property Sub Type,...,Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Master Project,Project,Latitude_Project,Longitude_Project
0,102-1-2023,2023-01-02 07:25:49,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,...,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,NaN,AYKON CITY 3,25.11072,55.38869
1,102-10-2023,2023-01-02 08:06:49,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,...,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,NaN,AYKON CITY 3,25.11072,55.38869
2,102-100-2023,2023-01-02 09:01:22,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Al Wasl,Unit,Flat,...,1,NaN,NaN,NaN,1,1,NaN,Fern,24.99426,55.16346
3,102-1000-2023,2023-01-05 13:26:06,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH LAKES TOWERS,Unit,Flat,...,1,Damac Properties,Marina Mall,Burj Al Arab,1,1,NaN,SEVEN CITY JLT,25.07052,55.14381
4,102-10000-2023,2023-03-01 16:02:19,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH VILLAGE CIRCLE,Unit,Flat,...,1,Dubai Internet City,Marina Mall,Sports City Swimming Academy,1,1,NaN,Binghatti Corner,25.11000,55.20418

In [21]:
df.shape

(81601, 24)

In [23]:
df.columns

Index(['Transaction Number', 'Transaction Date', 'Transaction Type',
       'Transaction sub type', 'Registration type', 'Is Free Hold?', 'Usage',
       'Area', 'Property Type', 'Property Sub Type', 'Amount',
       'Transaction Size (sq.m)', 'Property Size (sq.m)', 'Room(s)', 'Parking',
       'Nearest Metro', 'Nearest Mall', 'Nearest Landmark', 'No. of Buyer',
       'No. of Seller', 'Master Project', 'Project', 'Latitude_Project',
       'Longitude_Project'],
      dtype='object')

In [24]:
df.isnull().sum()

Transaction Number             0
Transaction Date               0
Transaction Type               0
Transaction sub type           0
Registration type              0
Is Free Hold?                  0
Usage                          0
Area                           0
Property Type                  0
Property Sub Type           1159
Amount                         0
Transaction Size (sq.m)      483
Property Size (sq.m)           0
Room(s)                    15019
Parking                    23764
Nearest Metro              27042
Nearest Mall               27101
Nearest Landmark           17716
No. of Buyer                   0
No. of Seller                  0
Master Project             81487
Project                    17723
Latitude_Project               0
Longitude_Project              0
dtype: int64

In [49]:

df[df['Property Sub Type'] == 'Land'][['Property Type', 'Property Sub Type']].shape

(399, 2)

In [58]:
df4=df[df['Property Type'] == 'Land']

In [59]:
df4

,Transaction Number,Transaction Date,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,Property Sub Type,...,Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Master Project,Project,Latitude_Project,Longitude_Project
27851,102-7615-2023,2023-02-16 14:44:33,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Madinat Al Mataar,Land,Airport,...,NaN,NaN,NaN,NaN,2,1,NaN,South Bay 1,24.95896,55.09458
27852,102-7616-2023,2023-02-16 14:45:20,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Madinat Al Mataar,Land,Airport,...,NaN,NaN,NaN,NaN,3,1,NaN,South Bay 1,24.95896,55.09458
27853,102-7617-2023,2023-02-16 14:45:42,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Madinat Al Mataar,Land,Airport,...,NaN,NaN,NaN,NaN,2,1,NaN,South Bay 1,24.95896,55.09458
27855,102-7619-2023,2023-02-16 14:46:14,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Madinat Al Mataar,Land,Airport,...,NaN,NaN,NaN,NaN,1,1,NaN,South Bay 1,24.95896,55.09458
27858,102-7621-2023,2023-02-16 14:47:04,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Madinat Al Mataar,Land,Airport,...,NaN,NaN,NaN,NaN,2,1,NaN,South Bay 1,24.95896,55.09458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81435,9-858-2023,2023-02-22 10:05:23,Gifts,Grant,Ready,Non Free Hold,Residential,Um Al Sheif,Land,Residential,...,NaN,First Abu Dhabi Bank Metro Station,Mall of the Emirates,Burj Al Arab,0,0,NaN,NaN,25.10757,55.24194
81466,9-886-2023,2023-02-22 10:54:30,Gifts,Grant,Ready,Free Hold,Residential,AL FURJAN,Land,Residential,...,NaN,Ibn Battuta Metro Station,Ibn-e-Battuta Mall,Expo 2020 Site,0,0,NaN,NaN,25.10757,55.24194
81470,9-89-2023,2023-01-06 11:19:08,Gifts,Grant,Ready,Free Hold,Residential,DUBAI HILLS,Land,Residential,...,NaN,First Abu Dhabi Bank Metro Station,Mall of the Emirates,Motor City,0,0,NaN,Sidra 2,25.09923,55.24839
81546,9-96-2023,2023-01-09 10:55:52,Gifts,Grant,Ready,Free Hold,Commercial,PALM JUMEIRAH,Land,Commercial,...,NaN,Al Sufouh,Mall of the Emirates,Burj Al Arab,0,0,NaN,NaN,25.10757,55.24194
81557,9-97-2023,2023-01-09 11:56:30,Gifts,Grant,Ready,Non Free Hold,Residential,Al Bada,Land,Residential,...,NaN,Emirates Towers Metro Station,Dubai Mall,Burj Khalifa,0,0,NaN,NaN,25.10757,55.24194