In [48]:
import pandas as pd
import numpy as np

In [49]:
file_path = "Datasets/listings_cleaned.csv"
df = pd.read_csv(file_path, low_memory=False)

In [50]:
df.shape

(79959, 23)

In [51]:
selected_features = ['Transaction Type', 'Transaction sub type', 'Registration type',
                     'Is Free Hold?', 'Usage', 'Area', 'Property Type',
                     'Property Sub Type', 'Amount', 'Transaction Size (sq.m)',
                     'Property Size (sq.m)', 'Room(s)', 'Parking', 'Nearest Metro',
                     'Nearest Mall', 'Nearest Landmark', 'No. of Buyer', 'No. of Seller',
                     'Project']
df_ml = df[selected_features]

In [52]:
df_ml.head(2)

,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,Property Sub Type,Amount,Transaction Size (sq.m),Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Project
0,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,2631000.0,105.75,105.75,2.0,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,AYKON CITY 3
1,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,1466000.0,52.29,52.29,0.0,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,AYKON CITY 3

# Feature Engineering

In [53]:
df_ml.dtypes

Transaction Type            object
Transaction sub type        object
Registration type           object
Is Free Hold?               object
Usage                       object
Area                        object
Property Type               object
Property Sub Type           object
Amount                     float64
Transaction Size (sq.m)    float64
Property Size (sq.m)       float64
Room(s)                    float64
Parking                     object
Nearest Metro               object
Nearest Mall                object
Nearest Landmark            object
No. of Buyer                 int64
No. of Seller                int64
Project                     object
dtype: object

In [55]:
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Transaction Type'])
print(label_encoder.classes_)

df_ml.loc[:, 'Transaction Type'] = label_encoder.transform(df_ml['Transaction Type'])

['Gifts' 'Mortgage' 'Sales']

In [59]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Transaction sub type'])
print(label_encoder.classes_)
df_ml.loc[:, 'Transaction sub type'] = label_encoder.transform(df_ml['Transaction sub type'])

['Adding Land By Sell' 'Delayed Development' 'Delayed Mortgage'
 'Delayed Sell' 'Delayed Sell Lease to Own Registration'
 'Development Mortgage' 'Development Registration'
 'Development Registration Pre-Registration' 'Grant' 'Grant Development'
 'Grant Pre-Registration' 'Grant on Delayed Sell'
 'Lease Development Registration' 'Lease Finance Modification'
 'Lease Finance Registration' 'Lease to Own Modify'
 'Lease to Own Registration' 'Lease to Own on Development Registration'
 'Modify Delayed Mortgage ' 'Modify Development Mortgage'
 'Modify Mortgage' 'Mortgage Pre-Registration' 'Mortgage Registration'
 'Mortgage Transfer' 'Mortgage Transfer Pre-Registration'
 'Portfolio Mortgage Development Modification'
 'Portfolio Mortgage Development Registration'
 'Portfolio Mortgage Modification' 'Portfolio Mortgage Registration'
 'Sale' 'Sale On Payment Plan' 'Sell - Pre registration'
 'Sell Development' 'Sell Development - Pre Registration']

In [62]:
df_ml['Registration type'].unique()

array(['Off-Plan', 'Ready'], dtype=object)

In [63]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Registration type'])
print(label_encoder.classes_)
df_ml.loc[:, 'Registration type'] = label_encoder.transform(df_ml['Registration type'])

['Off-Plan' 'Ready']

In [64]:
df_ml['Is Free Hold?'].unique()

array(['Free Hold', 'Non Free Hold'], dtype=object)

In [65]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Is Free Hold?'])
print(label_encoder.classes_)
df_ml.loc[:, 'Is Free Hold?'] = label_encoder.transform(df_ml['Is Free Hold?'])

['Free Hold' 'Non Free Hold']

In [66]:
df_ml['Usage'].unique()

array(['Residential', 'Commercial'], dtype=object)

In [67]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Usage'])
print(label_encoder.classes_)
df_ml.loc[:, 'Usage'] = label_encoder.transform(df_ml['Usage'])

['Commercial' 'Residential']

In [68]:
df_ml['Area'].unique()

array(['BUSINESS BAY', 'Al Wasl', 'JUMEIRAH LAKES TOWERS',
       'JUMEIRAH VILLAGE CIRCLE', 'DUBAI CREEK HARBOUR',
       'Madinat Dubai Almelaheyah', 'DUBAI WATER CANAL', 'DUBAI MARINA',
       'Business Bay', 'TOWN SQUARE', 'Al Yufrah 1', 'Zaabeel First',
       'SOBHA HEARTLAND', 'MEYDAN ONE', 'DAMAC HILLS',
       'JUMEIRAH VILLAGE TRIANGLE', 'BURJ KHALIFA',
       'DUBAI LAND RESIDENCE COMPLEX', 'Wadi Al Safa 5', 'Wadi Al Safa 3',
       'THE FIELD', "Me'Aisem First", 'Nad Al Shiba First',
       'PALM JUMEIRAH', 'DUBAI HILLS', 'SILICON OASIS', 'JUMEIRAH LIVING',
       'TECOM SITE A', 'DOWN TOWN JABAL ALI', 'Um Suqaim Third',
       'AL FURJAN', 'Marsa Dubai', 'MOTOR CITY', 'VILLANOVA', 'ARJAN',
       'Al Hebiah Fourth', 'DUBAI SOUTH', 'Madinat Hind 4',
       'DUBAI HARBOUR', 'Warsan First', 'Island 2', 'CITY WALK',
       'Al Yelayiss 2', 'CHERRYWOODS', 'TILAL AL GHAF',
       'DUBAI STUDIO CITY', 'DUBAI PRODUCTION CITY', 'THE LAKES',
       'MBR DISTRICT 7', 'MINA RASHID',
       'Hadaeq Sheikh Mohammed Bin Rashid', 'THE VALLEY',
       'ARABIAN RANCHES III', 'DUBAI SCIENCE PARK', 'Jumeirah First',
       'LA MER', 'MBR DISTRICT 1', 'Madinat Al Mataar', 'LIWAN',
       'Al Hebiah Sixth', 'MAJAN', 'EMAAR SOUTH', 'DUBAI SPORTS CITY',
       'JUMEIRAH BEACH RESIDENCE', 'Al Barshaa South Third',
       'Wadi Al Safa 7', 'JUMEIRA BAY', 'Zaabeel Second',
       'DUBAI HEALTHCARE CITY - PHASE 2', 'THE WORLD',
       'INTERNATIONAL CITY PH 2 & 3', 'RUKAN', 'JADDAF WATERFRONT',
       'MEYDAN AVENUE', 'DUBAI GOLF CITY', 'Jumeirah Second',
       'LIVING LEGENDS', 'DUBAI MARITIME CITY', 'JUMEIRAH GOLF',
       'Wadi Al Safa 2', 'DUBAI DESIGN DISTRICT', 'SUFOUH GARDENS',
       'MARSA AL ARAB', 'INTERNATIONAL CITY PH 1', 'DISCOVERY GARDENS',
       'Naif', 'Palm Jumeirah', 'ARABIAN RANCHES I', 'DUBAI WATER FRONT',
       'MIRA', 'REMRAAM', 'BARSHA HEIGHTS', 'BLUEWATERS', 'THE GREENS',
       'Mirdif', 'Jabal Ali First', 'JUMEIRAH PARK', 'EMIRATE LIVING',
       'Al Karama', 'Al Rashidiya', 'ARABIAN RANCHES II', 'SERENA',
       'THE VILLA', 'AL BARARI', 'Al Mizhar First', 'Al Kifaf',
       'Al Mamzer', 'JUMEIRAH HEIGHTS', 'GRAND VIEWS', 'PEARL JUMEIRA',
       'NAD AL SHEBA GARDENS', 'JUMEIRAH ISLANDS', 'MUDON',
       'Al Thanyah Fifth', 'Al Barshaa South First', 'AL KHAIL HEIGHTS',
       'Al Barsha First', 'Abu Hail', 'Al Waheda', 'Hor Al Anz',
       'MILLENNIUM', 'Al Goze Second', 'Al Mizhar Second',
       'Al Goze First', 'AKOYA OXYGEN', 'SUSTAINABLE CITY',
       'Al Khawaneej Second', 'SAMA AL JADAF', 'Al Kheeran',
       'DUBAI INDUSTRIAL CITY', 'Al Saffa First', 'Al Satwa',
       'Wadi Alshabak', 'FALCON CITY OF WONDERS', 'Um Suqaim Second',
       'Al Barsha Second', 'AL WAHA', 'Al Ras', 'Muhaisanah Third',
       'Jabal Ali Industrial First', 'Al Saffa Second', 'Um Al Sheif',
       'Al Bada', 'DUBAI HEALTHCARE CITY - PHASE 1', 'Al Murqabat',
       'Al Warqa Third', 'Muhaisanah First', 'Al Jafliya', 'Al Lusaily',
       'Trade Center First', 'Palm Deira', 'CITY OF ARABIA',
       'ARABIAN RANCHES POLO CLUB', 'Port Saeed', 'Al Baraha',
       'Nad Al Hamar', 'Eyal Nasser', 'MEDYAN RACE COURSE VILLAS',
       'DMCC-EZ2', 'Al Twar Fourth', 'Nad Al Shiba Fourth',
       'Al Khawaneej First', 'Al Barsha Third', 'Al Manara',
       'Muhaisanah Second', 'Nad Al Shiba Second', 'Al Aweer Second',
       'Mankhool', 'Al Hamriya', 'Al Suq Al Kabeer', 'Um Suqaim First',
       'POLO TOWNHOUSES IGO', 'Wadi Al Amardi', 'Al Mararr',
       'Jumeirah Third', 'Al Warqa First', 'Al Muteena',
       'Hor Al Anz East', 'Al Barshaa South Second', 'Nad Al Shiba Third',
       'Al Thanyah Third', 'Al Goze Fourth', 'Al Twar Third',
       'Ras Al Khor Industrial Second', 'Al Hebiah Second', 'Al Buteen',
       'Muhaisanah Fourth', 'Al Warqa Second', 'Al Nahda First',
       'Oud Metha', 'Al Warsan Second', 'Al Qusais Industrial Fifth',
       'Rega Al Buteen', 'Al Twar First', 'Al Garhoud', 'Al Khabeesi',
       'Al Raffa', 'Wadi Al Safa 4', 'Al Qusais Industrial Fourth',
       'Oud Al Muteena First', 'Al Jadaf', 'Al Qusais First', 'HORIZON',
       'Al Dhagaya', 'Al Goze Third', 'GLOBAL VILLAGE', 'Grayteesah',
       'Al Twar Second', 'Um Ramool', 'Al Aweer First', 'Madinat Hind 3',
       'Nadd Hessa', 'Ras Al Khor Industrial First', 'Mushrif',
       'Al Warqa Fourth', 'Al Yelayiss 5', 'Al Mizhar Third',
       'Al Nahda Second', 'Al Goze Industrial Third', 'IBN BATTUTA ',
       'PALM DEIRA', 'Nad Shamma', 'Al Rega', 'DUBAI OUTSOURCE CITY',
       'DUBAI INVESTMENT PARK FIRST', 'Dubai Investment Park Second',
       'Al Goze Industrial Fourth', 'Al Goze Industrial First',
       'Al Goze Industrial Second', 'Al Qusais Industrial First',
       'Al Qusais Industrial Third', 'Um Esalay', 'Al Hebiah Third',
       'Al Hebiah Fifth', 'DUBAI INVESTMENT PARK SECOND',
       'Trade Center Second', 'Lehbab First', 'Al Merkadh', 'GARDEN VIEW',
       'THE GARDENS', 'Dubai Investment Park First', 'AL KHAIL GATE',
       'Um Hurair Second', 'Al Rowaiyah Third', 'Remah', 'Lehbab Second',
       'Saih Shuaib 2', 'Al Yelayiss 1'], dtype=object)

In [69]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Area'])
print(label_encoder.classes_)
df_ml.loc[:, 'Area'] = label_encoder.transform(df_ml['Area'])

['AKOYA OXYGEN' 'AL BARARI' 'AL FURJAN' 'AL KHAIL GATE' 'AL KHAIL HEIGHTS'
 'AL WAHA' 'ARABIAN RANCHES I' 'ARABIAN RANCHES II' 'ARABIAN RANCHES III'
 'ARABIAN RANCHES POLO CLUB' 'ARJAN' 'Abu Hail' 'Al Aweer First'
 'Al Aweer Second' 'Al Bada' 'Al Baraha' 'Al Barsha First'
 'Al Barsha Second' 'Al Barsha Third' 'Al Barshaa South First'
 'Al Barshaa South Second' 'Al Barshaa South Third' 'Al Buteen'
 'Al Dhagaya' 'Al Garhoud' 'Al Goze First' 'Al Goze Fourth'
 'Al Goze Industrial First' 'Al Goze Industrial Fourth'
 'Al Goze Industrial Second' 'Al Goze Industrial Third' 'Al Goze Second'
 'Al Goze Third' 'Al Hamriya' 'Al Hebiah Fifth' 'Al Hebiah Fourth'
 'Al Hebiah Second' 'Al Hebiah Sixth' 'Al Hebiah Third' 'Al Jadaf'
 'Al Jafliya' 'Al Karama' 'Al Khabeesi' 'Al Khawaneej First'
 'Al Khawaneej Second' 'Al Kheeran' 'Al Kifaf' 'Al Lusaily' 'Al Mamzer'
 'Al Manara' 'Al Mararr' 'Al Merkadh' 'Al Mizhar First' 'Al Mizhar Second'
 'Al Mizhar Third' 'Al Murqabat' 'Al Muteena' 'Al Nahda First'
 'Al Nahda Second' 'Al Qusais First' 'Al Qusais Industrial Fifth'
 'Al Qusais Industrial First' 'Al Qusais Industrial Fourth'
 'Al Qusais Industrial Third' 'Al Raffa' 'Al Ras' 'Al Rashidiya' 'Al Rega'
 'Al Rowaiyah Third' 'Al Saffa First' 'Al Saffa Second' 'Al Satwa'
 'Al Suq Al Kabeer' 'Al Thanyah Fifth' 'Al Thanyah Third' 'Al Twar First'
 'Al Twar Fourth' 'Al Twar Second' 'Al Twar Third' 'Al Waheda'
 'Al Warqa First' 'Al Warqa Fourth' 'Al Warqa Second' 'Al Warqa Third'
 'Al Warsan Second' 'Al Wasl' 'Al Yelayiss 1' 'Al Yelayiss 2'
 'Al Yelayiss 5' 'Al Yufrah 1' 'BARSHA HEIGHTS' 'BLUEWATERS'
 'BURJ KHALIFA' 'BUSINESS BAY' 'Business Bay' 'CHERRYWOODS'
 'CITY OF ARABIA' 'CITY WALK' 'DAMAC HILLS' 'DISCOVERY GARDENS' 'DMCC-EZ2'
 'DOWN TOWN JABAL ALI' 'DUBAI CREEK HARBOUR' 'DUBAI DESIGN DISTRICT'
 'DUBAI GOLF CITY' 'DUBAI HARBOUR' 'DUBAI HEALTHCARE CITY - PHASE 1'
 'DUBAI HEALTHCARE CITY - PHASE 2' 'DUBAI HILLS' 'DUBAI INDUSTRIAL CITY'
 'DUBAI INVESTMENT PARK FIRST' 'DUBAI INVESTMENT PARK SECOND'
 'DUBAI LAND RESIDENCE COMPLEX' 'DUBAI MARINA' 'DUBAI MARITIME CITY'
 'DUBAI OUTSOURCE CITY' 'DUBAI PRODUCTION CITY' 'DUBAI SCIENCE PARK'
 'DUBAI SOUTH' 'DUBAI SPORTS CITY' 'DUBAI STUDIO CITY' 'DUBAI WATER CANAL'
 'DUBAI WATER FRONT' 'Dubai Investment Park First'
 'Dubai Investment Park Second' 'EMAAR SOUTH' 'EMIRATE LIVING'
 'Eyal Nasser' 'FALCON CITY OF WONDERS' 'GARDEN VIEW' 'GLOBAL VILLAGE'
 'GRAND VIEWS' 'Grayteesah' 'HORIZON' 'Hadaeq Sheikh Mohammed Bin Rashid'
 'Hor Al Anz' 'Hor Al Anz East' 'IBN BATTUTA ' 'INTERNATIONAL CITY PH 1'
 'INTERNATIONAL CITY PH 2 & 3' 'Island 2' 'JADDAF WATERFRONT'
 'JUMEIRA BAY' 'JUMEIRAH BEACH RESIDENCE' 'JUMEIRAH GOLF'
 'JUMEIRAH HEIGHTS' 'JUMEIRAH ISLANDS' 'JUMEIRAH LAKES TOWERS'
 'JUMEIRAH LIVING' 'JUMEIRAH PARK' 'JUMEIRAH VILLAGE CIRCLE'
 'JUMEIRAH VILLAGE TRIANGLE' 'Jabal Ali First'
 'Jabal Ali Industrial First' 'Jumeirah First' 'Jumeirah Second'
 'Jumeirah Third' 'LA MER' 'LIVING LEGENDS' 'LIWAN' 'Lehbab First'
 'Lehbab Second' 'MAJAN' 'MARSA AL ARAB' 'MBR DISTRICT 1' 'MBR DISTRICT 7'
 'MEDYAN RACE COURSE VILLAS' 'MEYDAN AVENUE' 'MEYDAN ONE' 'MILLENNIUM'
 'MINA RASHID' 'MIRA' 'MOTOR CITY' 'MUDON' 'Madinat Al Mataar'
 'Madinat Dubai Almelaheyah' 'Madinat Hind 3' 'Madinat Hind 4' 'Mankhool'
 'Marsa Dubai' "Me'Aisem First" 'Mirdif' 'Muhaisanah First'
 'Muhaisanah Fourth' 'Muhaisanah Second' 'Muhaisanah Third' 'Mushrif'
 'NAD AL SHEBA GARDENS' 'Nad Al Hamar' 'Nad Al Shiba First'
 'Nad Al Shiba Fourth' 'Nad Al Shiba Second' 'Nad Al Shiba Third'
 'Nad Shamma' 'Nadd Hessa' 'Naif' 'Oud Al Muteena First' 'Oud Metha'
 'PALM DEIRA' 'PALM JUMEIRAH' 'PEARL JUMEIRA' 'POLO TOWNHOUSES IGO'
 'Palm Deira' 'Palm Jumeirah' 'Port Saeed' 'REMRAAM' 'RUKAN'
 'Ras Al Khor Industrial First' 'Ras Al Khor Industrial Second'
 'Rega Al Buteen' 'Remah' 'SAMA AL JADAF' 'SERENA' 'SILICON OASIS'
 'SOBHA HEARTLAND' 'SUFOUH GARDENS' 'SUSTAINABLE CITY' 'Saih Shuaib 2'
 'TECOM SITE A' 'THE FIELD' 'THE GARDENS' 'THE GREENS' 'THE LAKES'
 'THE VALLEY' 'THE VILLA' 'THE WORLD' 'TILAL AL GHAF' 'TOWN SQUARE'
 'Trade Center First' 'Trade Center Second' 'Um Al Sheif' 'Um Esalay'
 'Um Hurair Second' 'Um Ramool' 'Um Suqaim First' 'Um Suqaim Second'
 'Um Suqaim Third' 'VILLANOVA' 'Wadi Al Amardi' 'Wadi Al Safa 2'
 'Wadi Al Safa 3' 'Wadi Al Safa 4' 'Wadi Al Safa 5' 'Wadi Al Safa 7'
 'Wadi Alshabak' 'Warsan First' 'Zaabeel First' 'Zaabeel Second']

In [70]:
df_ml['Property Type'].unique()

array(['Unit', 'Building', 'Land'], dtype=object)

In [71]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Property Type'])
print(label_encoder.classes_)
df_ml.loc[:, 'Property Type'] = label_encoder.transform(df_ml['Property Type'])

['Building' 'Land' 'Unit']

In [72]:
df_ml['Property Sub Type'].unique()

array(['Flat', 'Hotel Rooms', 'Villa', 'Hotel Apartment', 'Shop',
       'Office', 'Hotel', 'Show Rooms', 'Sized Partition', 'Airport',
       'Commercial', 'Residential', 'Residential Flats', 'Hospital',
       'Land', 'General Use', 'Government Housing', 'Unit', 'Sports Club',
       'Industrial', 'Warehouse', 'Agricultural', 'Labor Camp',
       'Residential / Villas', 'Stacked Townhouses', 'School',
       'Commercial / Offices / Residential', 'Shopping Mall',
       'Funeral Gathering', 'Residential / Attached Villas',
       'Exhbition Center', 'Workshop', 'Building', 'Gymnasium', 'Clinic',
       'Multi Store Parcking'], dtype=object)

In [73]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Property Sub Type'])
print(label_encoder.classes_)
df_ml.loc[:, 'Property Sub Type'] = label_encoder.transform(df_ml['Property Sub Type'])

['Agricultural' 'Airport' 'Building' 'Clinic' 'Commercial'
 'Commercial / Offices / Residential' 'Exhbition Center' 'Flat'
 'Funeral Gathering' 'General Use' 'Government Housing' 'Gymnasium'
 'Hospital' 'Hotel' 'Hotel Apartment' 'Hotel Rooms' 'Industrial'
 'Labor Camp' 'Land' 'Multi Store Parcking' 'Office' 'Residential'
 'Residential / Attached Villas' 'Residential / Villas'
 'Residential Flats' 'School' 'Shop' 'Shopping Mall' 'Show Rooms'
 'Sized Partition' 'Sports Club' 'Stacked Townhouses' 'Unit' 'Villa'
 'Warehouse' 'Workshop']

In [77]:
df_ml

array(['1', '0', '2', ..., 'CB1-89', '89-197', '339'], dtype=object)

In [84]:
df_ml['Parking'].value_counts()

Parking
1               22583
0               22144
2                2184
EU                761
1  0              242
                ...
DMCC L2-2091        1
B-186,B-186A        1
EB - 55             1
L5R-554             1
339                 1
Name: count, Length: 13908, dtype: int64

In [85]:
# Parking is an issue need more understanding to solve

In [86]:
df_ml['Nearest Landmark'].unique()

array(['Downtown Dubai', nan, 'Burj Al Arab',
       'Sports City Swimming Academy', 'Dubai International Airport',
       'Burj Khalifa', 'Dubai Cycling Course', 'Motor City',
       'IMG World Adventures', 'Expo 2020 Site', 'Hamdan Sports Complex',
       'Al Makhtoum International Airport', 'Global Village',
       'Dubai Parks and Resorts', 'Jabel Ali'], dtype=object)

In [87]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Nearest Landmark'])
print(label_encoder.classes_)
df_ml.loc[:, 'Nearest Landmark'] = label_encoder.transform(df_ml['Nearest Landmark'])

['Al Makhtoum International Airport' 'Burj Al Arab' 'Burj Khalifa'
 'Downtown Dubai' 'Dubai Cycling Course' 'Dubai International Airport'
 'Dubai Parks and Resorts' 'Expo 2020 Site' 'Global Village'
 'Hamdan Sports Complex' 'IMG World Adventures' 'Jabel Ali' 'Motor City'
 'Sports City Swimming Academy' nan]

In [88]:
df_ml['Nearest Mall'].unique()

array(['Dubai Mall', nan, 'Marina Mall', 'City Centre Mirdif',
       'Mall of the Emirates', 'Ibn-e-Battuta Mall'], dtype=object)

In [89]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Nearest Mall'])
print(label_encoder.classes_)
df_ml.loc[:, 'Nearest Mall'] = label_encoder.transform(df_ml['Nearest Mall'])

['City Centre Mirdif' 'Dubai Mall' 'Ibn-e-Battuta Mall'
 'Mall of the Emirates' 'Marina Mall' nan]

In [90]:
df_ml['Nearest Metro'].unique()

array(['Business Bay Metro Station', nan, 'Damac Properties',
       'Dubai Internet City', 'Creek Metro Station', 'Mina Seyahi',
       'Buj Khalifa Dubai Mall Metro Station',
       'Al Jafiliya Metro Station', 'Jumeirah Lakes Towers',
       'Palm Jumeirah', 'Jumeirah Beach Resdency',
       'First Abu Dhabi Bank Metro Station', 'Dubai Marina',
       'UAE Exchange Metro Station', 'Ibn Battuta Metro Station',
       'Sharaf Dg Metro Station', 'Nakheel Metro Station',
       'Rashidiya Metro Station', 'Harbour Tower',
       'Jumeirah Beach Residency', 'Noor Bank Metro Station',
       'Al Ghubaiba Metro Station', 'Trade Centre Metro Station',
       'Al Sufouh', 'Financial Centre', 'Al Jadaf Metro Station',
       'Healthcare City Metro Station', 'Emirates Towers Metro Station',
       'Salah Al Din Metro Station', 'Knowledge Village', 'Marina Towers',
       'ENERGY Metro Station', 'ADCB Metro Station',
       'Etisalat Metro Station', 'Marina Mall Metro Station',
       'Al Qiyadah Metro Station', 'Abu Baker Al Siddique Metro Station',
       'Abu Hail Metro Station', 'Al Ras Metro Station',
       'Al Qusais Metro Station', 'DANUBE Metro Station',
       'Emirates Metro Station', 'Deira City Centre',
       'Palm Deira Metro Stations', 'Baniyas Square Metro Station',
       'Al Fahidi Metro Station', 'Union Metro Station',
       'Al Rigga Metro Station', 'Media City', 'STADIUM Metro Station',
       'Oud Metha Metro Station', 'Terminal 3 ', 'Al Nahda Metro Station',
       'Airport Free Zone', 'GGICO Metro Station',
       'Burjuman Metro Station'], dtype=object)

In [96]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Nearest Metro'])
print(label_encoder.classes_)
df_ml.loc[:, 'Nearest Metro'] = label_encoder.transform(df_ml['Nearest Metro'])

[0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
 52 53 54 55]

In [93]:
df_ml['Project'].unique()

array(['AYKON CITY 3', 'Fern', 'SEVEN CITY JLT', ..., 'THE HAVEN',
       'VELA by OMNIYAT', 'Terrazzo '], dtype=object)

In [94]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(df_ml['Project'])
print(label_encoder.classes_)
df_ml.loc[:, 'Project'] = label_encoder.transform(df_ml['Project'])

[' DAMAC HILLS (2)  - SANCTNARY'
 ' Mohammed Bin Rashid Al Maktoum City , District One Phase III  , Residences 22'
 ' QASR SABAH I , II ,III ' ... 'Zubaida Residency' 'barari views'
 'joya verde residences dubai']

In [98]:
# Its not getting updated
# label encoding code wrong
df_ml.dtypes

Transaction Type            object
Transaction sub type        object
Registration type           object
Is Free Hold?               object
Usage                       object
Area                        object
Property Type               object
Property Sub Type           object
Amount                     float64
Transaction Size (sq.m)    float64
Property Size (sq.m)       float64
Room(s)                    float64
Parking                     object
Nearest Metro               object
Nearest Mall                object
Nearest Landmark            object
No. of Buyer                 int64
No. of Seller                int64
Project                     object
dtype: object