In [124]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [125]:
file_path = "Datasets/listings_cleaned.csv"
df = pd.read_csv(file_path, low_memory=False)

In [126]:
df.shape

(79959, 23)

In [127]:
selected_features = ['Transaction Type', 'Transaction sub type', 'Registration type',
                     'Is Free Hold?', 'Usage', 'Area', 'Property Type',
                     'Property Sub Type', 'Amount', 'Transaction Size (sq.m)',
                     'Property Size (sq.m)', 'Room(s)', 'Parking', 'Nearest Metro',
                     'Nearest Mall', 'Nearest Landmark', 'No. of Buyer', 'No. of Seller',
                     'Project']
df_ml = df[selected_features]

In [128]:
df_ml.head(2)

,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,Property Sub Type,Amount,Transaction Size (sq.m),Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Project
0,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,2631000.0,105.75,105.75,2.0,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,AYKON CITY 3
1,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,1466000.0,52.29,52.29,0.0,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,AYKON CITY 3

# Feature Engineering

In [129]:
df_ml.dtypes

Transaction Type            object
Transaction sub type        object
Registration type           object
Is Free Hold?               object
Usage                       object
Area                        object
Property Type               object
Property Sub Type           object
Amount                     float64
Transaction Size (sq.m)    float64
Property Size (sq.m)       float64
Room(s)                    float64
Parking                     object
Nearest Metro               object
Nearest Mall                object
Nearest Landmark            object
No. of Buyer                 int64
No. of Seller                int64
Project                     object
dtype: object

In [130]:
# Function which does label encoding
from sklearn import preprocessing 
def lab_enco(column):
    label_encoder = preprocessing.LabelEncoder() 
    df_ml[column] = label_encoder.fit_transform(df_ml[column])
    print(label_encoder.classes_)

In [131]:
lab_enco('Transaction Type')
lab_enco('Transaction sub type')
lab_enco('Registration type')
lab_enco('Is Free Hold?')
lab_enco('Usage')
lab_enco('Area')
lab_enco('Property Type')
lab_enco('Property Sub Type')
lab_enco('Nearest Landmark')
lab_enco('Nearest Metro')
lab_enco('Nearest Mall')
lab_enco('Project')

['Gifts' 'Mortgage' 'Sales']
['Adding Land By Sell' 'Delayed Development' 'Delayed Mortgage'
 'Delayed Sell' 'Delayed Sell Lease to Own Registration'
 'Development Mortgage' 'Development Registration'
 'Development Registration Pre-Registration' 'Grant' 'Grant Development'
 'Grant Pre-Registration' 'Grant on Delayed Sell'
 'Lease Development Registration' 'Lease Finance Modification'
 'Lease Finance Registration' 'Lease to Own Modify'
 'Lease to Own Registration' 'Lease to Own on Development Registration'
 'Modify Delayed Mortgage ' 'Modify Development Mortgage'
 'Modify Mortgage' 'Mortgage Pre-Registration' 'Mortgage Registration'
 'Mortgage Transfer' 'Mortgage Transfer Pre-Registration'
 'Portfolio Mortgage Development Modification'
 'Portfolio Mortgage Development Registration'
 'Portfolio Mortgage Modification' 'Portfolio Mortgage Registration'
 'Sale' 'Sale On Payment Plan' 'Sell - Pre registration'
 'Sell Development' 'Sell Development - Pre Registration']
['Off-Plan' 'Ready']
['Free Hold' 'Non Free Hold']
['Commercial' 'Residential']
['AKOYA OXYGEN' 'AL BARARI' 'AL FURJAN' 'AL KHAIL GATE' 'AL KHAIL HEIGHTS'
 'AL WAHA' 'ARABIAN RANCHES I' 'ARABIAN RANCHES II' 'ARABIAN RANCHES III'
 'ARABIAN RANCHES POLO CLUB' 'ARJAN' 'Abu Hail' 'Al Aweer First'
 'Al Aweer Second' 'Al Bada' 'Al Baraha' 'Al Barsha First'
 'Al Barsha Second' 'Al Barsha Third' 'Al Barshaa South First'
 'Al Barshaa South Second' 'Al Barshaa South Third' 'Al Buteen'
 'Al Dhagaya' 'Al Garhoud' 'Al Goze First' 'Al Goze Fourth'
 'Al Goze Industrial First' 'Al Goze Industrial Fourth'
 'Al Goze Industrial Second' 'Al Goze Industrial Third' 'Al Goze Second'
 'Al Goze Third' 'Al Hamriya' 'Al Hebiah Fifth' 'Al Hebiah Fourth'
 'Al Hebiah Second' 'Al Hebiah Sixth' 'Al Hebiah Third' 'Al Jadaf'
 'Al Jafliya' 'Al Karama' 'Al Khabeesi' 'Al Khawaneej First'
 'Al Khawaneej Second' 'Al Kheeran' 'Al Kifaf' 'Al Lusaily' 'Al Mamzer'
 'Al Manara' 'Al Mararr' 'Al Merkadh' 'Al Mizhar First' 'Al Mizhar Second'
 'Al Mizhar Third' 'Al Murqabat' 'Al Muteena' 'Al Nahda First'
 'Al Nahda Second' 'Al Qusais First' 'Al Qusais Industrial Fifth'
 'Al Qusais Industrial First' 'Al Qusais Industrial Fourth'
 'Al Qusais Industrial Third' 'Al Raffa' 'Al Ras' 'Al Rashidiya' 'Al Rega'
 'Al Rowaiyah Third' 'Al Saffa First' 'Al Saffa Second' 'Al Satwa'
 'Al Suq Al Kabeer' 'Al Thanyah Fifth' 'Al Thanyah Third' 'Al Twar First'
 'Al Twar Fourth' 'Al Twar Second' 'Al Twar Third' 'Al Waheda'
 'Al Warqa First' 'Al Warqa Fourth' 'Al Warqa Second' 'Al Warqa Third'
 'Al Warsan Second' 'Al Wasl' 'Al Yelayiss 1' 'Al Yelayiss 2'
 'Al Yelayiss 5' 'Al Yufrah 1' 'BARSHA HEIGHTS' 'BLUEWATERS'
 'BURJ KHALIFA' 'BUSINESS BAY' 'Business Bay' 'CHERRYWOODS'
 'CITY OF ARABIA' 'CITY WALK' 'DAMAC HILLS' 'DISCOVERY GARDENS' 'DMCC-EZ2'
 'DOWN TOWN JABAL ALI' 'DUBAI CREEK HARBOUR' 'DUBAI DESIGN DISTRICT'
 'DUBAI GOLF CITY' 'DUBAI HARBOUR' 'DUBAI HEALTHCARE CITY - PHASE 1'
 'DUBAI HEALTHCARE CITY - PHASE 2' 'DUBAI HILLS' 'DUBAI INDUSTRIAL CITY'
 'DUBAI INVESTMENT PARK FIRST' 'DUBAI INVESTMENT PARK SECOND'
 'DUBAI LAND RESIDENCE COMPLEX' 'DUBAI MARINA' 'DUBAI MARITIME CITY'
 'DUBAI OUTSOURCE CITY' 'DUBAI PRODUCTION CITY' 'DUBAI SCIENCE PARK'
 'DUBAI SOUTH' 'DUBAI SPORTS CITY' 'DUBAI STUDIO CITY' 'DUBAI WATER CANAL'
 'DUBAI WATER FRONT' 'Dubai Investment Park First'
 'Dubai Investment Park Second' 'EMAAR SOUTH' 'EMIRATE LIVING'
 'Eyal Nasser' 'FALCON CITY OF WONDERS' 'GARDEN VIEW' 'GLOBAL VILLAGE'
 'GRAND VIEWS' 'Grayteesah' 'HORIZON' 'Hadaeq Sheikh Mohammed Bin Rashid'
 'Hor Al Anz' 'Hor Al Anz East' 'IBN BATTUTA ' 'INTERNATIONAL CITY PH 1'
 'INTERNATIONAL CITY PH 2 & 3' 'Island 2' 'JADDAF WATERFRONT'
 'JUMEIRA BAY' 'JUMEIRAH BEACH RESIDENCE' 'JUMEIRAH GOLF'
 'JUMEIRAH HEIGHTS' 'JUMEIRAH ISLANDS' 'JUMEIRAH LAKES TOWERS'
 'JUMEIRAH LIVING' 'JUMEIRAH PARK' 'JUMEIRAH VILLAGE CIRCLE'
 'JUMEIRAH VILLAGE TRIANGLE' 'Jabal Ali First'
 'Jabal Ali Industrial First' 'Jumeirah First' 'Jumeirah Second'
 'Jumeirah Third' 'LA MER' 'LIVING LEGENDS' 'LIWAN' 'Lehbab First'
 'Lehbab Second' 'MAJAN' 'MARSA AL ARAB' 'MBR DISTRICT 1' 'MBR DISTRICT 7'
 'MEDYAN RACE COURSE VILLAS' 'MEYDAN AVENUE' 'MEYDAN ONE' 'MILLENNIUM'
 'MINA RASHID' 'MIRA' 'MOTOR CITY' 'MUDON' 'Madinat Al Mataar'
 'Madinat Dubai Almelaheyah' 'Madinat Hind 3' 'Madinat Hind 4' 'Mankhool'
 'Marsa Dubai' "Me'Aisem First" 'Mirdif' 'Muhaisanah First'
 'Muhaisanah Fourth' 'Muhaisanah Second' 'Muhaisanah Third' 'Mushrif'
 'NAD AL SHEBA GARDENS' 'Nad Al Hamar' 'Nad Al Shiba First'
 'Nad Al Shiba Fourth' 'Nad Al Shiba Second' 'Nad Al Shiba Third'
 'Nad Shamma' 'Nadd Hessa' 'Naif' 'Oud Al Muteena First' 'Oud Metha'
 'PALM DEIRA' 'PALM JUMEIRAH' 'PEARL JUMEIRA' 'POLO TOWNHOUSES IGO'
 'Palm Deira' 'Palm Jumeirah' 'Port Saeed' 'REMRAAM' 'RUKAN'
 'Ras Al Khor Industrial First' 'Ras Al Khor Industrial Second'
 'Rega Al Buteen' 'Remah' 'SAMA AL JADAF' 'SERENA' 'SILICON OASIS'
 'SOBHA HEARTLAND' 'SUFOUH GARDENS' 'SUSTAINABLE CITY' 'Saih Shuaib 2'
 'TECOM SITE A' 'THE FIELD' 'THE GARDENS' 'THE GREENS' 'THE LAKES'
 'THE VALLEY' 'THE VILLA' 'THE WORLD' 'TILAL AL GHAF' 'TOWN SQUARE'
 'Trade Center First' 'Trade Center Second' 'Um Al Sheif' 'Um Esalay'
 'Um Hurair Second' 'Um Ramool' 'Um Suqaim First' 'Um Suqaim Second'
 'Um Suqaim Third' 'VILLANOVA' 'Wadi Al Amardi' 'Wadi Al Safa 2'
 'Wadi Al Safa 3' 'Wadi Al Safa 4' 'Wadi Al Safa 5' 'Wadi Al Safa 7'
 'Wadi Alshabak' 'Warsan First' 'Zaabeel First' 'Zaabeel Second']
['Building' 'Land' 'Unit']
['Agricultural' 'Airport' 'Building' 'Clinic' 'Commercial'
 'Commercial / Offices / Residential' 'Exhbition Center' 'Flat'
 'Funeral Gathering' 'General Use' 'Government Housing' 'Gymnasium'
 'Hospital' 'Hotel' 'Hotel Apartment' 'Hotel Rooms' 'Industrial'
 'Labor Camp' 'Land' 'Multi Store Parcking' 'Office' 'Residential'
 'Residential / Attached Villas' 'Residential / Villas'
 'Residential Flats' 'School' 'Shop' 'Shopping Mall' 'Show Rooms'
 'Sized Partition' 'Sports Club' 'Stacked Townhouses' 'Unit' 'Villa'
 'Warehouse' 'Workshop']
['Al Makhtoum International Airport' 'Burj Al Arab' 'Burj Khalifa'
 'Downtown Dubai' 'Dubai Cycling Course' 'Dubai International Airport'
 'Dubai Parks and Resorts' 'Expo 2020 Site' 'Global Village'
 'Hamdan Sports Complex' 'IMG World Adventures' 'Jabel Ali' 'Motor City'
 'Sports City Swimming Academy' nan]
['ADCB Metro Station' 'Abu Baker Al Siddique Metro Station'
 'Abu Hail Metro Station' 'Airport Free Zone' 'Al Fahidi Metro Station'
 'Al Ghubaiba Metro Station' 'Al Jadaf Metro Station'
 'Al Jafiliya Metro Station' 'Al Nahda Metro Station'
 'Al Qiyadah Metro Station' 'Al Qusais Metro Station'
 'Al Ras Metro Station' 'Al Rigga Metro Station' 'Al Sufouh'
 'Baniyas Square Metro Station' 'Buj Khalifa Dubai Mall Metro Station'
 'Burjuman Metro Station' 'Business Bay Metro Station'
 'Creek Metro Station' 'DANUBE Metro Station' 'Damac Properties'
 'Deira City Centre' 'Dubai Internet City' 'Dubai Marina'
 'ENERGY Metro Station' 'Emirates Metro Station'
 'Emirates Towers Metro Station' 'Etisalat Metro Station'
 'Financial Centre' 'First Abu Dhabi Bank Metro Station'
 'GGICO Metro Station' 'Harbour Tower' 'Healthcare City Metro Station'
 'Ibn Battuta Metro Station' 'Jumeirah Beach Resdency'
 'Jumeirah Beach Residency' 'Jumeirah Lakes Towers' 'Knowledge Village'
 'Marina Mall Metro Station' 'Marina Towers' 'Media City' 'Mina Seyahi'
 'Nakheel Metro Station' 'Noor Bank Metro Station'
 'Oud Metha Metro Station' 'Palm Deira Metro Stations' 'Palm Jumeirah'
 'Rashidiya Metro Station' 'STADIUM Metro Station'
 'Salah Al Din Metro Station' 'Sharaf Dg Metro Station' 'Terminal 3 '
 'Trade Centre Metro Station' 'UAE Exchange Metro Station'
 'Union Metro Station' nan]
['City Centre Mirdif' 'Dubai Mall' 'Ibn-e-Battuta Mall'
 'Mall of the Emirates' 'Marina Mall' nan]
[' DAMAC HILLS (2)  - SANCTNARY'
 ' Mohammed Bin Rashid Al Maktoum City , District One Phase III  , Residences 22'
 ' QASR SABAH I , II ,III ' ... 'Zubaida Residency' 'barari views'
 'joya verde residences dubai']

In [132]:
df_ml['Parking'].value_counts()

Parking
1               22583
0               22144
2                2184
EU                761
1  0              242
                ...
DMCC L2-2091        1
B-186,B-186A        1
EB - 55             1
L5R-554             1
339                 1
Name: count, Length: 13908, dtype: int64

In [85]:
# Parking is an issue need more understanding to solve

In [133]:
df_ml.dtypes

Transaction Type             int32
Transaction sub type         int32
Registration type            int32
Is Free Hold?                int32
Usage                        int32
Area                         int32
Property Type                int32
Property Sub Type            int32
Amount                     float64
Transaction Size (sq.m)    float64
Property Size (sq.m)       float64
Room(s)                    float64
Parking                     object
Nearest Metro                int32
Nearest Mall                 int32
Nearest Landmark             int32
No. of Buyer                 int64
No. of Seller                int64
Project                      int32
dtype: object

In [144]:
df_ml['Parking_Exist'] = df_ml['Parking'].astype(str).apply(lambda x: 1 if x.strip() != '0' else 0)

In [146]:
df_ml.dtypes

Transaction Type             int32
Transaction sub type         int32
Registration type            int32
Is Free Hold?                int32
Usage                        int32
Area                         int32
Property Type                int32
Property Sub Type            int32
Amount                     float64
Transaction Size (sq.m)    float64
Property Size (sq.m)       float64
Room(s)                    float64
Parking                     object
Nearest Metro                int32
Nearest Mall                 int32
Nearest Landmark             int32
No. of Buyer                 int64
No. of Seller                int64
Project                      int32
Parking_Exist                int64
dtype: object

In [147]:
df_ml.head(10)

,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,Property Sub Type,Amount,Transaction Size (sq.m),Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Project,Parking_Exist
0,2,31,0,0,1,93,2,7,2631000.0,105.75,105.75,2.0,1,17,1,3,1,1,94,1
1,2,31,0,0,1,93,2,7,1466000.0,52.29,52.29,0.0,1,17,1,3,1,1,94,1
2,2,31,0,0,1,85,2,7,3309000.0,161.32,161.32,2.0,1,55,5,14,1,1,558,1
3,2,31,0,0,1,147,2,7,1170137.0,99.64,99.64,2.0,1,20,4,1,1,1,1136,1
4,2,31,0,0,1,150,2,7,590000.0,63.95,63.95,1.0,1,22,4,13,1,1,254,1
5,2,31,0,0,1,150,2,7,600000.0,61.36,61.36,1.0,1,22,4,13,1,1,254,1
6,2,31,0,0,1,102,2,7,1340888.0,64.09,64.09,1.0,1,18,0,5,1,1,323,1
7,2,31,0,0,1,175,2,7,1427888.0,72.73,72.73,1.0,1,55,5,14,1,1,1204,1
8,2,31,0,0,1,102,2,7,2261888.0,97.23,97.23,2.0,1,18,0,5,2,1,323,1
9,2,31,0,0,1,121,2,7,2096000.0,77.87,77.87,1.0,1,17,1,2,1,1,366,1

In [149]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import StandardScaler

# Extract features and target variable, dropping 'Amount' and 'Parking' columns
X = df_ml.drop(['Amount', 'Parking'], axis=1)
y = df_ml['Amount']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features (optional but often beneficial for linear regression)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and fit the linear regression model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test_scaled)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'Mean Absolute Error: {mae}')
print(f'R-squared: {r2}')

Mean Squared Error: 106949888690113.67
Root Mean Squared Error: 10341657.927533364
Mean Absolute Error: 2482800.52032552
R-squared: 0.2895143407154246