In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset1 = "Datasets/dataframeAreasWithALLCoord.csv"
dataset2 = "Datasets/dataframeProjectWithALLCoord.csv"
dataset3 = "Datasets/transactions-2023-07-02.csv"

In [3]:
df1 = pd.read_csv(dataset1)
df2 = pd.read_csv(dataset2)
df3 = pd.read_csv(dataset3)

In [4]:
df = pd.merge(df3, df1, on='Area', how='left')
df= pd.merge(df3, df2, on='Project', how='left')

In [5]:
df.head()

,Transaction Number,Transaction Date,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,Property Sub Type,...,Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Master Project,Project,Latitude_Project,Longitude_Project
0,102-1-2023,2023-01-02 07:25:49,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,...,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,NaN,AYKON CITY 3,25.11072,55.38869
1,102-10-2023,2023-01-02 08:06:49,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,...,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,NaN,AYKON CITY 3,25.11072,55.38869
2,102-100-2023,2023-01-02 09:01:22,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Al Wasl,Unit,Flat,...,1,NaN,NaN,NaN,1,1,NaN,Fern,24.99426,55.16346
3,102-1000-2023,2023-01-05 13:26:06,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH LAKES TOWERS,Unit,Flat,...,1,Damac Properties,Marina Mall,Burj Al Arab,1,1,NaN,SEVEN CITY JLT,25.07052,55.14381
4,102-10000-2023,2023-03-01 16:02:19,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH VILLAGE CIRCLE,Unit,Flat,...,1,Dubai Internet City,Marina Mall,Sports City Swimming Academy,1,1,NaN,Binghatti Corner,25.11000,55.20418

In [6]:
df.shape

(81601, 24)

In [23]:
df.columns
df_ml = df.copy()

In [25]:
# Function to count null values in each column
def null_col(df_ml):
    null_counts = df_ml.isnull().sum()
    null_columns = null_counts[null_counts > 0].index
    print(null_counts[null_columns])
null_col(df_ml)

Property Sub Type           1159
Transaction Size (sq.m)      483
Room(s)                    15019
Parking                    23764
Nearest Metro              27042
Nearest Mall               27101
Nearest Landmark           17716
Master Project             81487
Project                    17723
dtype: int64

In [26]:
df_ml['Master Project']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
81596    NaN
81597    NaN
81598    NaN
81599    NaN
81600    NaN
Name: Master Project, Length: 81601, dtype: object

In [27]:
# Majority columns null in the column therfore dropping
df_ml = df_ml.drop(columns='Master Project')
null_col(df_ml)

Property Sub Type           1159
Transaction Size (sq.m)      483
Room(s)                    15019
Parking                    23764
Nearest Metro              27042
Nearest Mall               27101
Nearest Landmark           17716
Project                    17723
dtype: int64

In [31]:
df_ml = df_ml.dropna(subset=['Property Sub Type'])
df_ml = df_ml.dropna(subset=['Transaction Size (sq.m)'])
null_col(df_ml)

Room(s)             13387
Parking             22133
Nearest Metro       25623
Nearest Mall        25686
Nearest Landmark    16350
Project             16561
dtype: int64

In [34]:
df_ml['Project'].fillna('Unknown', inplace=True)

In [37]:
df_ml['Nearest Landmark'].fillna('None', inplace=True)
df_ml['Nearest Metro'].fillna('None', inplace=True)
df_ml['Nearest Mall'].fillna('None', inplace=True)
null_col(df_ml)

Room(s)    13387
Parking    22133
dtype: int64

In [39]:
"""
Parking can be subjective as not all listings need not give parking, 
therfore it can either be imputed using an imputer function or by
making all nan values into 0
"""
df_ml['Parking'].fillna(0, inplace=True)

In [40]:
null_col(df_ml)

Room(s)    13387
dtype: int64

In [47]:
from sklearn.impute import KNNImputer
df_ml_imputed = df_ml.copy()
columns_to_impute = ['Room(s)']
room_mapping = {
    'Studio': 0,
    '1 B/R': 1,
    '2 B/R': 2,
    '3 B/R': 3,
    '4 B/R': 4,
    '5 B/R': 5,
    '6 B/R': 6,
    '7 B/R': 7,
    '9 B/R': 9,
    'Single Room': 1, 
    'PENTHOUSE': 8,   
    'Shop': 10,       
    'Office': 11,    
    'GYM': 12,        
    'Hotel': 13       
}
df_ml_imputed['Room(s)'] = df_ml_imputed['Room(s)'].map(room_mapping)
knn_imputer = KNNImputer(n_neighbors=5)
df_ml_imputed[columns_to_impute] = knn_imputer.fit_transform(df_ml_imputed[columns_to_impute])
print(df_ml_imputed.isnull().sum())

Transaction Number         0
Transaction Date           0
Transaction Type           0
Transaction sub type       0
Registration type          0
Is Free Hold?              0
Usage                      0
Area                       0
Property Type              0
Property Sub Type          0
Amount                     0
Transaction Size (sq.m)    0
Property Size (sq.m)       0
Room(s)                    0
Parking                    0
Nearest Metro              0
Nearest Mall               0
Nearest Landmark           0
No. of Buyer               0
No. of Seller              0
Project                    0
Latitude_Project           0
Longitude_Project          0
dtype: int64

In [50]:
df_ml = df_ml_imputed

In [51]:
null_col(df_ml)

Series([], dtype: int64)

In [52]:
csv_path = 'Datasets/listings_cleaned.csv'
df_ml.to_csv(csv_path, index=False)
print(f'DataFrame exported to {csv_path}')

DataFrame exported to Datasets/listings_cleaned.csv